{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<title>Coffeed</title>
	
		<link rel="stylesheet" href="{% static "css/style.css"%}">
	</head>

	<body> 
		<div class="container">
			<!-- START HERE --> 
<h1><font color="black">“ Imagine your Path”.</h1>
			
			<p><p><p><p>
<font size="5">This is call to all muslim, we are searching for video content for the House of Wisdom organisation the purpose of the video is to be a welcoming for a new site that would allow the creation of a new platform that we are working on.
we need your support on this journey of enlightenment for future generation.
The house of wisdom is the newly formed platform designed exclusively for the knowledge and history of the islamic religion.
the organisation aim is to equip you with the knowledge of the islamic history and preserve culture and ideas of the of muslim people . we will develop a knowledge center for the islamic people of were they will be a network off which the next generation will drink from the fountain of knowledge and thus helping too preserve the teachings of prophet muhammad pbuh
We’re working hard to ensure that House of wisdom empowers all kinds of people to better understand their religion and history, The wisdom programs support the development of social platform that would be a ground for the 21 century muslim
to learn and socialise with equal minded people and to also be part of changing the way the world perceives muslims and standing together against the destruction of our values.
the house of wisdom will significantly increase the understanding of islam and improve its practice for the benefit of mankind.
If you choose this mission to help your next kin please send us a HD recorded video with your greeting and good will.
</p></p>What you need to know:

</p>The video content must be recorded in HD for quality purposes. </p></p></p></p>Next the video to be record without any copyrights
violation, meaning to be recorded in clear background.
</p>Last a greeting from you ( SALAM ALEYKUM ) 
</p></p></p></p>Thats It!; 
</p> 
follow us on social media.</p> 

			<p>Email us: </font></p>

			<a href="https://twitter.com/getcoffeed" target="_blank">
				<img src=" {% static "images/twitter.png" %}" alt="Twitter">
			</a>

			<a href="https://www.facebook.com/getcoffeed" target="_blank">
				<img src=" {% static "images/facebook.png" %}" alt="Facebook">
			</a>
			
			<!-- END HERE --> 
		</div><!-- .container --> 

	</body>
</html>